@{
    Layout = null;
}
@model MVC留言板.ViewModels.CommentView  
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>留言板</title>
    <style type="text/css">
        * {
        padding:0px;
        margin:0px;
        font-size:14px;
        background-color:#fefbee;
        }
        #head {
        height:30px;
        line-height:30px;
        border-bottom:1px dashed #ddb7b7;
        text-align:right;
        padding-right:20px;
        }
        #sp1 {
        color:#00ff21;
        }
        #title {
        font-size:24px;
        color:#0a6b2f;
        margin:5px;
        height:50px;
        line-height:50px;
        text-align:center;
        border-bottom:1px solid #fbf8e9;
        }
        #txtsuggest {
        color:#4c685b;
        font-weight:700;
        font-size:18px;
        margin:20px 40px;
        }
        #txt2{
           margin-left:20px;
           font-size:14px;
           font-weight:700;
           font-family:"方正舒体";
        }
        #ContentBody {
        border:1px solid #8b8888;
        width:80%;
        margin-left:20px;
        min-height:30px;
        margin-top:10px;
        margin-bottom:40px;
        }
        #inputComment {
        margin-left:20px;
        margin-top:5px;
        margin-bottom:5px;
        }
        #txtTip {
        margin-left:20px;
        }
        #txtarea {
        width:50%;
        height:100px;
        resize:none;
        min-width:200px;
        background-color:#fff;
        }
        #btnsub {
        margin-left:20px;
        }
    </style>
    <link href="~/Content/Web.css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
    <script type="text/javascript" >
        
        $(document).ready(function () {
            $("#submitComment").click(function () {

                var jsonData = {
                    @*评论内容*@
                    comment: $("#txtarea").val(),
                    @*评论的内容的ID*@
                    commentID: 0,
                    @*是父评论*@
                    isInitial: 1,
                    @*回复的用户的ID*@
                    replyUserId: 0,
                }
                $.post("@Url.Action("Addcomment","Comment")", jsonData, function (data, status) {
                    @*把json字符串转化为json对象*@
                    var obj = eval('(' + data + ')')
                    @*未登录就跳转到登录页面*@
                    if (obj.LoginState == 'no')
                        window.location = "@Url.Action("Login", "Users", new { redirectUrl = Request.RawUrl })";
                        //遇到错误消息
                   else if (obj.msg != null){
                        $("#msg").text(obj.msg);
                        $("#msg").attr("class", "msgerror");
                    }
                    else {
                        $("#msg").text("评论成功");
                        $("#msg").attr("class", "msgsucceed");
                        }
                    
                })
            })
        })
    </script>
</head>
<body>
    <div id="head">
     用户:<span id="sp1">@Model.Uid</span>  |@if(Model.LoginState=="no"){<a href="@Url.Action("Login","Users")">登陆</a>}
       else{ <a href="@Url.Action("ExitLogin","Users")">退出</a>}|
        <a href="@Url.Action("SignIn","Users")">注册</a>
    </div>
   <div id="title">留言板</div> 
    <div id="txtsuggest">留下你们的一些建议吧~</div>
    
    @if(Model.LoginState=="未登录")
    {
    <div id="txtTip">你还未登录,请<a href="@Url.Action("Login","Users")">登录</a>或<a href="@Url.Action("SignIn","Users")">注册</a></div>
    }
    <div id="inputComment">
        <textarea id="txtarea"></textarea>
    </div>
    <div id="btnsub"><input id="submitComment" type="button" value="提交评论"/>&nbsp;<span class="msgerror" id="msg"></span></div>
    
    <div id="txt2">最新评论:</div>
    <div id="ContentBody">暂无评论</div>
</body>
</html>
